 body {
    font-family: 'Open Sans', sans-serif;
}

{
    box-sizing:border-box;
}

.image-responsive {
     display: block;
     width: 100%;
     height: auto;
}

.container {
      max-width:1200px;
}

.example-column-content {
  background: salmon;
} 

.year-type {
  background-color: #003262;
  padding: 68px;
  text-align: center;
  color: #FDB515;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
  
}


.our-roots {
    text-align: center;
    font-size: 24px;
   color: #003262;
    padding-top: 20px;
    padding-bottom: 20px;
   font-weight: 700;
}

h2 {
  background-color: #003262;
  font-size: 12px;
  color: #FDB515;
  padding-top: 0;
  margin-top: 0%;
  margin-bottom: 25px;
  font-weight: 600;
}

.body-text {
  font-size: 16px;
  color: #003262;
  /* padding-top: 20px; */
  padding-bottom: 25px;
  margin-bottom: 0px;
  font-weight: 400;
}

.our-reach {
  text-align: center;
  font-size: 24px;
  color: #003262;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}

.iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bottom-page-text {
  color: #003262;
  line-height: 80%;
  text-align: center;
  font-weight: 400;
  padding-top: 20px;
}


.zmdi {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.zmdi:hover {
  opacity: 0.7;
}


/* Facebook */
.zmdi-facebook-box {
  background: white;
  color:#003262;
}

/* Linkedin */
.zmdi-linkedin-box {
  background: white;
  color:#003262;
}

.header-image-menu{
  top: 10px;
  position: relative;
  padding-bottom: 20px;
}

.header-image-menu img{
  width: 100%;
  margin: none;
  padding: none;

.bottom-footer {
  text-align: center;
}

.p-3 {
  padding: $spacer !important;
}





/* .mt-0 {
  margin-top: 0 !important;
}

.ml-1 {
  margin-left: ($spacer * .25) !important;
}

.px-2 {
  padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important; */
}

